html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}



/*
a:link {
  color: rgb(255, 255, 255);
}
*/
a:active {
  color: rgb(185, 77, 77);
}

.clickable-logo {
  text-decoration: none;
  color: rgb(164, 27, 16);
}

.clickable-logo:link {
  color: rgb(164, 27, 16);
}

.clickable-logo:visited {
  color: rgb(164, 27, 16);
}

.clickable-logo:active {
  color: rgb(164, 27, 16);
}

/*NAVBAR*/
body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /*
  position: fixed;
  top: 0;
  width: 100%;
  */
}

.topnav a {
  float: left;
  display: block;
  color: #2e2e2e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  /*to align dopdown with topnav*/
  padding-top: 30px;
  transition: 500ms;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #2e2e2e;
  padding: 30px 16px;
  background-color: inherit;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  margin: 0;
  transition: 500ms;
  padding-bottom: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(182, 226, 243, 0.829);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

.lang {
  color: rgb(93, 187, 213);
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  color: rgb(121, 199, 221);
}

.dropdown-content a:hover {
  color: rgb(88, 143, 158);
  transition: 500ms;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1080px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.img-logo {
  width: 45px;
  float: left;

}

.logo-text {
  display: inline-block;
  color: rgb(164, 27, 16);
  height: 50px;
  width: 170px;
  margin-left: 10px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
  text-align: left;
}

.logo {
  transition: 500ms;
}

.logo a {
  padding-top: 22px;
}

.logo:hover {
  opacity: 0.7;
}

.sub-header {
  /*FONT AND WEIGHT*/
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.dropdown.language {
  float: right;
  background-color: #ffffff;
  margin-bottom: 15px;
}

/*intro*/

.fade-in {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
  font-size: 50px;
  animation: fadeIn 4s;
  text-align: center;
  margin-top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.intro {
  text-align: center;
  color: rgb(255, 255, 255);
}

#intro {
  width: 100%;
  height: 350px;
  background-color: rgb(83, 36, 118);
  padding-top: 130px;

}

.bible-verse {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
  /*letter-spacing: 7px;*/
  white-space: nowrap;
  overflow: hidden;
  animation: fadeIn 4s;
  margin-top: 20px;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }

}

@keyframes typing {
  from {
    width: 0;
  }
}

.intro-text {
  margin-top: -40px;
}

.cross {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72px;
  height: 136px;
  animation: fadeIn 4s;
}

#section2 {
  height: 1200px;
  background-color: rgb(255, 255, 255);
}

.container-gallery-row-top {}

.cp-con {
  width: 301px;
  height: 471px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.cp-img {
  width: 300px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
}

.header-img {
  margin-top: 6px;
  font-family: Be Vietnam Pro;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.space {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 50px;
  font-size: 23px;
}

.cp-con1 {
  width: 300px;
  height: 471px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.cp-img1 {
  width: 301px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
}

.cp-con2 {
  width: 300px;
  height: 471px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.cp-img2 {
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
}

.cp-con3 {
  width: 300px;
  height: 471px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.cp-img3 {
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
}

.container-gallery-row-two {
  margin-top: 60px;
}

.cp-con4 {
  width: 300px;
  height: 471px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.cp-img4 {
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
}

.cp-con5 {
  width: 300px;
  height: 471px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.cp-img5 {
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
}

@media screen and (max-width: 1130px) {
  .cp-con2 {
    width: 300px;
    height: 471px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: 50px;
  }

  .cp-con5 {
    width: 300px;
    height: 471px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .bible-verse {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 15px;
    /*letter-spacing: 7px;*/
    white-space: nowrap;
    overflow: hidden;
    animation: fadeIn 4s;
    margin-top: 20px;
    height: 75px;

  }
  
  .fade-in {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    animation: fadeIn 4s;
    text-align: center;
    margin-top: 20px;
  }

  .intro-text {
    margin-top: -40px;
    height: 300px;
  }
}

.notice-nav {
  color: rgb(119, 201, 231);
}

/*Footer*/

.notice-nav {
  color: rgb(119, 201, 231);
}

.beforefoot {
  width: 100%;
  height: 200px;
}

.foot {
  width: 100%;
  height: 190px;
  background-color: rgba(80, 183, 221, 0.342);
}

.footspace {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.foot-text {
  text-align: center;
}

.text-foot {
  text-align: right;
  display: inline-block;
  width: 83%;
  margin-right: 15px;
  margin-top: 15px;
}

.text-footcd {
  text-align: left;
  display: inline-block;
  margin-left: 15px;
  height: 50px;
  margin-bottom: 0px;
}

.copyright {
  margin-top: 50px;
  text-align: center;
}

.socialmedia {
  margin-top: 12px;
}

@media screen and (max-width: 1407px) {
  .text-foot {
      text-align: right;
      display: inline-block;
      width: 70%;
      margin-right: 15px;
      margin-top: 15px;
  }
}

@media screen and (max-width: 1426px) {
  .text-foot {
      text-align: right;
      display: inline-block;
      width: 70%;
      margin-right: 15px;
      margin-top: 15px;
  }
}

@media screen and (max-width: 826px) {
  .text-foot {
      text-align: right;
      display: inline-block;
      width: 50%;
      margin-right: 15px;
      margin-top: 15px;
  }
}

@media screen and (max-width: 540px) {
  .foot {
      width: 100%;
      height: 290px;
      background-color: rgba(80, 183, 221, 0.342);
  }

  .text-footcd {
      text-align: left;
      display: inline-block;
      margin-left: 0px;
      height: 50px;
      margin-bottom: 0px;
      font-size: 14px;
      margin-top: 25px;
  }

  .text-foot {
      text-align: left;
      display: inline-block;
      margin-left: 13px;
      margin-right: 14px;
      margin-top: 40px;
      font-size: 15px;
  }

  .copyright {
      margin-bottom: 0px;
      margin-top: 40px;
      font-size: 11px;
      text-align: center;
      margin-bottom: 30px;
  }

 
}