html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(97, 149, 168);
}

a:link {
    color: rgb(97, 149, 168);
}

a:active {
    color: rgb(97, 149, 168);
}

.clickable-logo {
    text-decoration: none;
    color: rgb(164, 27, 16);
}

.clickable-logo:link {
    color: rgb(164, 27, 16);
}

.clickable-logo:visited {
    color: rgb(164, 27, 16);
}

.clickable-logo:active {
    color: rgb(164, 27, 16);
}

.logo-img {
    margin-left: 10px;
}

.logo {
    width: 250px;
    display: inline-block;
    margin-top: 6px;
    transition: 0.15s;
    margin-bottom: 4px;
    margin-right: 10px;
    margin-left: 4px;
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.5;
}

.header {
    font-family: Be Vietnam Pro ExtraBold;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    line-height: 22px;
}

.header-container {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.sub-header {
    font-family: Be Vietnam Pro Medium;
    font-size: 13px;
}

.responsive {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

/*NAVIGATION*/
.navibar {
    overflow: hidden;
    font-family: Be Vietnam Pro SemiBold;
    display: inline-block;
    margin-bottom: 17px;
    margin-left: 45px;
}

.navibar a {
    float: left;
    font-size: 14px;
    color: rgb(97, 149, 168);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition: 0.15s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: rgb(97, 149, 168);
    padding: 5px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.15s;
}

.navibar a:hover,
.dropdown:hover .dropbtn {
    opacity: 0.5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(116, 179, 202, 0.794);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.15s;
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgb(72, 111, 125);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    background-color: rgb(255, 255, 255);
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    margin-top: 0;
    display: flexbox;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: static; /*muss vielleich verändert werden*/
}

.left-side-drop {
    width: 130px;
    float: right;
    padding-right: 0px;
    margin-top: 28.5px;
    margin-right: 15px;
}

/*LANGUAGE DROPDOWN*/

.lang-switch {
    color: rgb(97, 149, 168);
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.15s;
}

.lang-switch:hover {
    opacity: 0.5;
}

.left-side-drop {
    position: relative;
    display: inline-block;
}

.lang-content {
    display: none;
    position: absolute;
    font-family: Be Vietnam Pro;
    font-size: 15px;
    text-align: center;
    background-color: rgba(116, 179, 202, 0.794);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.lang-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.15s;
}

.lang-content a:hover {
    background-color: rgb(72, 111, 125);
}

.left-side-drop:hover .lang-content {
    display: block;
}

.lang-content:hover .lang-switch {
    background-color: rgb(72, 111, 125);
}

.container-header {
    margin-top: 160px;
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 60px;
    color: rgb(53, 53, 54);
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Be Vietnam Pro SemiBold;
  }
  ::selection{
    color: #fff;
    background: #007bff;
  }
  body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden; /*horizontal*/
    overflow-y: scroll; /*vertikal*/
  }
  
  .wrapper{
    max-width: 1100px;
  }
  .gallery{
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .image{
    padding: 2px;
  }
  .gallery .image span{
    display: flex;
    width: 100%;
  }
  
  /*Image display*/
  .gallery .image img{
      height: 200px;
      width: 300px;
      margin: 5px;
      border-radius: 5px; 
      overflow: hidden;
      object-fit: cover;
      transition: 1s;
      
  }
  .gallery .image:hover img{
      filter: brightness(50%); 
      /*no overlap when hover*/
      z-index: 2;
  }
  .preview-box{ /*Bild öffnen*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 650px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 12px;
    padding: 0 0px 0px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.735);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
  }
  .preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  
  .caption {
      text-align: center;
      font-size: 18px;
      color:rgb(98, 213, 255);
  }
  
  .caption2 {
      text-align: center;
      font-size: 18px;
      color:rgb(98, 213, 255);
  }
  
  .details .title p{
    margin: 0 5px;
  }
  
  .title {
      margin-left: 10px;
  }
  
  .details .title p.current-img{
    font-weight: 500;
    display: none;
  }
  
  .total-img {
      display: none; /*not showing */
  }
  
  .details .icon{
    color:rgb(98, 213, 255);
    font-size: 25px;
    cursor: pointer;
  }
  .preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
  }
  .image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
  }
  .slide.prev{
    left: 0px;
  }
  .slide.next{
    right: 0px;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, 0.643);
    backdrop-filter: blur(10px);
  }
  
  .date {
      margin-top: 50px;
      font-size: 30px;
      color: rgb(83, 199, 222);
      text-align: left;
      margin-left: 85px;
  }
  
  .container-header {
      margin-top: 110px;
      font-family: Be Vietnam Pro ExtraBold;
      font-size: 60px;
      color: rgb(53, 53, 54);
      text-align: center;
      display: block;
      margin-bottom: 40px;
  }

  /*GO UP*/
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 200, 255); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 20px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 500ms;
  }
  
  #myBtn:hover {
    background-color: rgba(0, 200, 255, 0.375);/* Add a dark-grey background on hover */
  }

/*

.date {
  font-family: Be Vietnam Pro ExtraBold;
  font-size: 40px;
  color: rgb(185, 243, 255);
  margin-left: 220px;
  text-align: left;
  display: block;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.gallery a {
  height: 200px;
  width: 300px;
  margin: 10px;
  border-radius: 5px; 
  overflow: hidden;
}

.gallery a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}

.gallery a img:hover {
  filter: brightness(50%); 
}
*/

