/*
a:link {
    color: rgb(255, 255, 255);
}
*/
a:active {
    color: rgb(185, 77, 77);
}

.clickable-logo {
    text-decoration: none;
    color: rgb(164, 27, 16);
}

.clickable-logo:link {
    color: rgb(164, 27, 16);
}

.clickable-logo:visited {
    color: rgb(164, 27, 16);
}

.clickable-logo:active {
    color: rgb(164, 27, 16);
}

/*NAVBAR*/
body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*
    position: fixed;
    top: 0;
    width: 100%;
    */
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #2e2e2e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    /*to align dopdown with topnav*/
    padding-top: 30px;
    transition: 500ms;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #2e2e2e;
    padding: 30px 16px;
    background-color: inherit;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    margin: 0;
    transition: 500ms;
    padding-bottom: 15px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(182, 226, 243, 0.829);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 16px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-align: center;
  }
  
  .lang {
    color: rgb(93, 187, 213);
  }
  
  .topnav a:hover,
  .dropdown:hover .dropbtn {
    color: rgb(121, 199, 221);
  }
  
  .dropdown-content a:hover {
    color: rgb(88, 143, 158);
    transition: 500ms;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 1080px) {
  
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
  
    .topnav a.icon {
        float: right;
        display: block;
    }
  }
  
  @media screen and (max-width: 1080px) {
    .topnav.responsive {
        position: relative;
    }
  
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
  
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  
    .topnav.responsive .dropdown {
        float: none;
    }
  
    .topnav.responsive .dropdown-content {
        position: relative;
    }
  
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
  }
  
  .img-logo {
    width: 45px;
    float: left;
  
  }
  
  .logo-text {
    display: inline-block;
    color: rgb(164, 27, 16);
    height: 50px;
    width: 170px;
    margin-left: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    text-align: left;
  }
  
  .logo {
    transition: 500ms;
  }
  
  .logo a{
    padding-top: 22px;
  }
  
  .logo:hover {
    opacity: 0.7;
  }
  
  .sub-header {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
  }
  
  .dropdown.language {
    float: right;
    background-color: #ffffff;
    margin-bottom: 15px;
  }
/*
.calendar-container {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 900;
    font-size: 30px;
    background: rgb(183, 241, 255);
    background: radial-gradient(circle, rgba(183, 241, 255, 1) 36%, rgba(173, 239, 255, 0.541) 84%);
    width: 1200px;
    min-height: 670px; 
    margin: 0 auto;
    padding: 5px;
    color: black;
    display: flex;
    border-radius: 10px;
    margin-top: 250px;
    box-shadow: 0px 8px 16px 0px rgba(22, 193, 235, 0.137);
}

.left {
    width: 60%;
    padding: 20px;
}

.calendar {
    background: rgb(236, 236, 236);
    background: radial-gradient(circle, rgba(236, 236, 236, 1) 0%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0px 8px 16px 0px rgba(22, 193, 235, 0.233);
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    color: #2ecae9;
    border-radius: 10px;
}

.calendar .month {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: #00b4d8;
}

.calendar .weekdays {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #000000ad;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.calendar .weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.664);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.calendar .days .day {
    width: 13.3%;
    height: 70px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2ecae988;
    border: 0.7px solid rgba(14, 13, 13, 0.048);
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(10, 10, 10, 0.219);
}




.calendar .day:not(.prev-date, .next-date) {
    color: rgba(0, 0, 0, 0.664);
    
}

.calendar .day:not(.prev-date, .next-date):hover {
    background-color: #B9F3FF;
}

:root {
    --le :#5BD4FF;
    --chor: #FFD966;
    --gebetsgruppe: #A9D18E;
    --reisen: #1F4E79;
    --feier: #FDC3DC;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--feier);
}

.calendar .days .event::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--chor);
}

*/

.head {
    margin-bottom: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: rgb(53, 53, 54);
}


.cldr {
    display: block;
    margin-top: 50px;
}