a {
    text-decoration: none;
}


/*
a:link {
    color: rgb(255, 255, 255);
}
*/
a:active {
    color: rgb(185, 77, 77);
}

.clickable-logo {
    text-decoration: none;
    color: rgb(164, 27, 16);
}

.clickable-logo:link {
    color: rgb(164, 27, 16);
}

.clickable-logo:visited {
    color: rgb(164, 27, 16);
}

.clickable-logo:active {
    color: rgb(164, 27, 16);
}

/*NAVBAR*/
body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

.topnav {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*
    position: fixed;
    top: 0;
    width: 100%;
    */

}

.topnav a {
    float: left;
    display: block;
    color: #2e2e2e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    /*to align dopdown with topnav*/
    padding-top: 30px;
  
    transition: 500ms;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #2e2e2e;
    padding: 30px 16px;
    background-color: inherit;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    margin: 0;
    transition: 500ms;
    padding-bottom: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(182, 226, 243, 0.829);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 16px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-align: center;
}

.lang {
    color: rgb(93, 187, 213);
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: rgb(121, 199, 221);
}

.dropdown-content a:hover {
    color: rgb(88, 143, 158);
    transition: 500ms;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1080px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.img-logo {
    width: 45px;
    float: left;

}

.logo-text {
    display: inline-block;
    color: rgb(164, 27, 16);
    height: 50px;
    width: 170px;
    margin-left: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    text-align: left;
}

.logo {
    transition: 500ms;
}

.logo a{
    padding-top: 22px;
}

.logo:hover {
    opacity: 0.7;
}

.sub-header {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.dropdown.language {
    float: right;
    background-color: #ffffff;
    margin-bottom: 15px;
}

/*SLIDER*/

.slider {
    width: 1397px;
    max-width: 100vw;
    height: 586px;
    margin: auto;
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    /*
    margin-top: 70px;
    */
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 1397px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(177, 234, 255);
    font-size: 40px;
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: rgb(52, 164, 205);
    margin: 15px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.dots li.active {
    width: 20px;

    background-color: rgb(130, 197, 222);
}

.text {
    color: #ffffff;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 45px;
    padding: 8px 12px;
    position: absolute;
    bottom: 90px;
    width: 100%;
    margin-left: 95px;
}

.sub-text {
    color: #ffffff;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 0px 12px;
    position: absolute;
    bottom: 70px;
    width: 100%;
    margin-left: 95px;
}

.sub-text a {
    color: #ffffff;
}

.sub-text a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 770px) {
    .slider {
        height: 770px;
    }

    .text {
        color: #ffffff;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 700;
        font-size: 25px;
        padding: 70px 12px;
        position: absolute;
        bottom: 90px;
        width: 100%;
        margin-left: 10px;
    }

    .sub-text {
        color: #ffffff;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding: 60px 12px;
        position: absolute;
        bottom: 70px;
        width: 100%;
        margin-left: 10px;
    }

    .break {

    }
}