body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(97, 149, 168);
}

a:link {
    color: rgb(97, 149, 168);
}

a:active {
    color: rgb(97, 149, 168);
}

.clickable-logo {
    text-decoration: none;
    color: rgb(164, 27, 16);
}

.clickable-logo:link {
    color: rgb(164, 27, 16);
}

.clickable-logo:visited {
    color: rgb(164, 27, 16);
}

.clickable-logo:active {
    color: rgb(164, 27, 16);
}

.logo-img {
    margin-left: 10px;
}

.logo {
    width: 250px;
    display: inline-block;
    margin-top: 6px;
    transition: 0.15s;
    margin-bottom: 4px;
    margin-right: 10px;
    margin-left: 4px;
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.5;
}

.header {
    font-family: Be Vietnam Pro ExtraBold;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    line-height: 22px;
}

.header-container {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.sub-header {
    font-family: Be Vietnam Pro Medium;
    font-size: 13px;
}

.responsive {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

/*NAVIGATION*/
.navibar {
    overflow: hidden;
    font-family: Be Vietnam Pro SemiBold;
    display: inline-block;
    margin-bottom: 17px;
    margin-left: 45px;
}

.navibar a {
    float: left;
    font-size: 14px;
    color: rgb(97, 149, 168);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    transition: 0.15s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: rgb(97, 149, 168);
    padding: 5px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.15s;
}

.navibar a:hover,
.dropdown:hover .dropbtn {
    opacity: 0.5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(116, 179, 202, 0.794);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.15s;
}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgb(72, 111, 125);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    position: relative;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    margin-top: 0;
    display: flexbox;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.left-side-drop {
    width: 130px;
    float: right;
    padding-right: 0px;
    margin-top: 28.5px;
    margin-right: 15px;
}

/*LANGUAGE DROPDOWN*/

.lang-switch {
    color: rgb(97, 149, 168);
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.15s;
}

.lang-switch:hover {
    opacity: 0.5;
}

.left-side-drop {
    position: relative;
    display: inline-block;
}

.lang-content {
    display: none;
    position: absolute;
    font-family: Be Vietnam Pro;
    font-size: 15px;
    text-align: center;
    background-color: rgba(116, 179, 202, 0.794);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.lang-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.15s;
}

.lang-content a:hover {
    background-color: rgb(72, 111, 125);
}

.left-side-drop:hover .lang-content {
    display: block;
}

.lang-content:hover .lang-switch {
    background-color: rgb(72, 111, 125);
}

.slider {
    width: 1397px;
    max-width: 100vw;
    height: 586px;
    margin: auto;
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 1397px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(177, 234, 255);
    font-size: 40px;
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: rgb(52, 164, 205);
    margin: 15px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.dots li.active {
    width: 20px;

    background-color: rgb(130, 197, 222);
}

.text {
    color: #ffffff;
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 45px;
    padding: 8px 12px;
    position: absolute;
    bottom: 90px;
    width: 100%;
    margin-left: 95px;
}

.sub-text {
    color: #ffffff;
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 70px;
    width: 100%;
    margin-left: 95px;
}

.sub-text a {
    color: #ffffff;
}

.sub-text a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}
