a {
    text-decoration: none;
}


/*
a:link {
    color: rgb(255, 255, 255);
}
*/
a:active {
    color: rgb(185, 77, 77);
}

.clickable-logo {
    text-decoration: none;
    color: rgb(164, 27, 16);
}

.clickable-logo:link {
    color: rgb(164, 27, 16);
}

.clickable-logo:visited {
    color: rgb(164, 27, 16);
}

.clickable-logo:active {
    color: rgb(164, 27, 16);
}

/*NAVBAR*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Archivo;
    overflow-x: hidden;

}

.navig {
    position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}



header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 26.5px;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 14px;
}

header ul li a:hover {
    color: rgb(93, 187, 213);
}

/* submenu style */
header ul .submenu {
    position: absolute;
    width: 140px;
    background-color: rgb(179, 235, 255);
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    margin-left: -30px;
    opacity: 0;
    z-index: -989;
    transition: all ease 0.5s;
    text-align: center;

}

header ul li:hover .submenu {
    z-index: 99;
    opacity: 0.9;
    margin-top: 0;
}

header ul .submenu li {
    margin: 0;
    width: 100%;

   
}

header ul .submenu li a {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}


.lang {
    text-decoration: none;
    color: rgb(93, 187, 213);
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 14px;
    font-family: Be Vietnam Pro ExtraBold;
}

.img-logo {
    width: 65px;
    margin-top: 5px;
    margin-bottom: 5.5px;

}

.head {}

.sub-header {
    font-family: Be Vietnam Pro Medium;
    font-size: 14px;
}

.logo-text {
    display: inline-block;
    color: rgb(164, 27, 16);
    height: 50px;
    width: 170px;
    margin-top: 13px;
    margin-left: 10px;
    font-family: Be Vietnam Pro ExtraBold;
}

.logo {
    transition: 500ms;
}

.logo:hover {
    opacity: 0.7;
}

/*BANNER*/

.top-page {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 77px;
}

.intro-banner {
    width: 100%;
    height: 450px;
    display: inline-block;
    top: 0;
    left: 0;
    position: relative;
}

.intro-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(40%);

}

.text {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 75px;
    width: 100%;
}

.subtext {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-family: Be Vietnam Pro Medium;
    font-size: 25px;
    width: 100%;
}

.img-left img {
    width: 370px;
    height: 300px;
    position: absolute;
    bottom: -160px;
    left: 290px;
    object-fit: cover;
    filter: brightness(100%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
}

.img-right img {
    width: 370px;
    height: 300px;
    position: absolute;
    bottom: -160px;
    right: 290px;
    object-fit: cover;
    filter: brightness(100%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
}

.about {
    display: inline-block;
}

.img-about {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-top: 70px;
    margin-right: 30px;
}

.about-text {
    font-family: Be Vietnam Pro Medium;
    font-size: 20px;
    color: rgb(53, 53, 54);
    text-align: left;
    width: 400px;
}

.header-abt {
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 32px;
    color: rgb(53, 53, 54);
    margin-top: 300px;
}

.about-note {
    margin-top: 30px;
    font-family: Be Vietnam Pro Medium;
    font-size: 20px;
    color: rgb(53, 53, 54);
    background-color: rgb(148, 232, 255);
    padding: 10px 10px;
    width: 1240px;
    border-radius: 25px;
}

.image-abt {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 20px;
}


.image-abt1 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.image-abt2 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-bottom: 20px;
}

.image-abt3 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 20px;
}


.image-abt4 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.image-abt5 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-bottom: 20px;
}

.excursion {
    display: inline-block;
}

.img-excursion {
    width: 400px;
    height: 346px;
    object-fit: cover;
    margin-top: 40px;
}

.excursion-text {
    font-family: Be Vietnam Pro Medium;
    font-size: 20px;
    color: rgb(53, 53, 54);
    text-align: left;
    width: 400px;
    margin-right: 30px;
}

.header-exc {
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 32px;
    color: rgb(53, 53, 54);
    margin-top: 35px;
}


.header-age {
    font-family: Be Vietnam Pro ExtraBold;
    font-size: 32px;
    color: rgb(53, 53, 54);
    margin-top: 40px;
}

/*INVITATION*/

.invitation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5e7e71;
    overflow: hidden;
}

.advent {
    position: relative;
    cursor: pointer;
    margin-top: 60px;
}

.envelope {
    position: relative;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, .3));
    cursor: default;
}

.envelope:before {
    content: "";
    position: absolute;
    width: 254px;
    height: 254px;
    background-color: rgb(228, 208, 188);
    transform: rotate(-45deg);
    border-radius: 0 15px 0 0;
    left: -37px;
    top: -82px;
    cursor: default;
}

.envelope:after {
    content: "";
    position: absolute;
    background-color: rgb(228, 208, 188);
    width: 360px;
    height: 225px;
    left: -90px;
    top: 45px;
    cursor: default;
}

.ornament {
    position: absolute;
    background-color: #ba3c3c;
    display: inline-block;
    height: 300px;
    width: 300px;
    top: -30px;
    left: -60px;
    filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, .3));
    transition: .5s;
    border-radius: 100000px;
    cursor: default;
}


.ornament:before {
    content: "";
    background-color: #c4b281;
    height: 40px;
    width: 100px;
    position: absolute;
    cursor: default;
}

.ornament:after {
    content: "";
    background-color: #c4b281;
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 500px;
    cursor: default;
}

.ornament:before {
    top: -30px;
    left: 100px;
}

.ornament:after {
    left: 114px;
    top: -100;
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 190px solid rgb(228, 195, 163);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: 44px;
    left: 80px;
    z-index: 4;
    cursor: default;
}

.front:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 190px solid rgb(228, 195, 163);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: -113px;
    left: -170px;
    cursor: default;
}

.front:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-bottom: 150px solid rgb(228, 208, 188);
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    top: -36px;
    left: -170px;
    cursor: default;
}

.message {
    position: absolute;
    font-family: Be Vietnam Pro Medium;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 80px;
    left: -4px;
    transition: .5s;
    font-size: 30px;
    width: 200px;
    cursor: default;
}

.info {
    position: absolute;
    top: 275px;
    color: white;
    font-family: Pacifico;
    text-align: center;
    width: 250px;
    font-size: 20px;
    left: -35px;
    cursor: default;
}


.h-invitation {
    position: absolute;
    top: -320px;
    color: white;
    font-family: Pacifico;
    text-align: center;
    width: 351px;
    font-size: 70px;
    left: -85px;
    cursor: default;
}

.showBtn {
    
}

.infobtn {
    border: none;
    padding: 10px 10px;
    width: 120px;
    border-radius: 70px;
    font-family: Pacifico;
    font-size: 17px;
    background-color: #c4b281;
    color: white;
    position: relative;
    top: 180px;
    left: 30px;
    transition: .5s;
    cursor: pointer;
}

.advent:hover .ornament {
    transform: translateY(-120px);
}

.advent:hover .message {
    transform: translateY(-120px);
}

.advent:hover .infobtn {
    transform: translateY(-120px);
    z-index: 5;
    
}

/*NEW YEAR INVITATION*/
.invitation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d0cca9;
    overflow: hidden;
}

.tet {
    position: relative;
    cursor: pointer;
    margin-top: 100px;
}

.envelope1 {
    position: relative;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, .3));
    cursor: default;
}

.envelope1:before {
    content: "";
    position: absolute;
    width: 254px;
    height: 254px;
    background-color: rgb(236, 228, 219);
    transform: rotate(-45deg);
    border-radius: 0 15px 0 0;
    left: -37px;
    top: -82px;
    cursor: default;
}

.envelope1:after {
    content: "";
    position: absolute;
    background-color: rgb(218, 211, 202);
    width: 360px;
    height: 225px;
    left: -90px;
    top: 45px;
    cursor: default;
}


.square {
    position: absolute;
    background-color: #ddb750;
    display: inline-block;
    height: 250px;
    width: 250px;
    top: -30px;
    left: -35px;
    filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, .3));
    transition: .5s;
    cursor: default;
    transform: rotate(-45deg);
}

.lantern {
    position: absolute; 
    height: 140px;
    width: 200px;
    background-color: rgb(224, 42, 42);
    top: -180px;
    left: -455px;
    border-radius: 500px;
    cursor: default;
}

.lantern:after {
    content: "";
    height: 145px;
    width: 5px;
    top: -157px;
    left: 95px;
    position: absolute;
    cursor: default;
    background-color: #bc3535;
}

.lantern:before {
    content: "";
    height: 15px;
    width: 100px;
    top: -12px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
}

.lantern-btm {
    content: "";
    height: 15px;
    width: 100px;
    top: 137px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
}

.de-ny {
    position: absolute;
    font-family: Be Vietnam Pro Medium;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 45px;
    left: 3px;
    font-size: 20px;
    width: 200px;
    cursor: default;
}

.lantern1 {
    position: absolute; 
    height: 140px;
    width: 200px;
    background-color: rgb(224, 42, 42);
    top: -70px;
    left: 400px;
    border-radius: 500px;
    cursor: default;
}

.lantern-cable {
    height: 249px;
    width: 5px;
    top: -260px;
    left: 95px;
    position: absolute;
    cursor: default;
    background-color: #bc3535;
    cursor: default;
}

.lantern1:before {
    content: "";
    height: 15px;
    width: 100px;
    top: -11px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
    cursor: default;
}

.lantern-btm1 {
    content: "";
    height: 15px;
    width: 100px;
    top: 137px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
    cursor: default;
}

.vn-ny {
    position: absolute;
    font-family: Be Vietnam Pro Medium;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 45px;
    left: 3px;
    font-size: 20px;
    width: 200px;
    cursor: default;
    cursor: default;
}

.square:after {
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    cursor: default;
    background-color: #bc3535;
}

.square:after {
    left: 25px;
    top: 25px;
}

.front1 {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 190px solid rgb(236, 228, 219);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: 44px;
    left: 80px;
    z-index: 4;
    cursor: default;
}

.front1:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 190px solid rgb(236, 228, 219);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: -113px;
    left: -170px;
    cursor: default;
}

.front1:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-bottom: 150px solid rgb(221, 214, 206);
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    top: -36px;
    left: -170px;
    cursor: default;
}

.message1 {
    position: absolute;
    font-family: Agbalumo;
    text-align: center;
    color: white;
    z-index: 2;
    top: 5px;
    left: -10px;
    transition: .5s;
    font-size: 90px;
    width: 200px;
    cursor: default;
}

.h-invitation1 {
    position: absolute;
    top: -285px;
    color: #bc3535;
    font-family: Agbalumo;
    text-align: center;
    width: 500px;
    font-size: 54px;
    left: -150px;
    cursor: default;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #8f2626;
}

.showBtn1 {
    
}

.infobtn1 {
    border: none;
    padding: 10px 10px;
    width: 120px;
    border-radius: 70px;
    font-family: Agbalumo;
    font-size: 18px;
    color: white;
    position: relative;
    top: 110px;
    left: 31px;
    transition: 500ms;
    cursor: pointer;
    text-align: center;
    letter-spacing: 4px;   
    transition: 500ms;
}

.infobtn1:hover {
    color: #ddd4bd;
}

.tet:hover .square {
    transform: translateY(-120px) rotate(-45deg);
}

.tet:hover .message1 {
    transform: translateY(-120px);
}

.tet:hover .infobtn1 {
    transform: translateY(-120px);
    z-index: 4;
}


  .star {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 110px;
    left: -300px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;
  
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star1 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: -30px;
    left: -200px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;

  
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star2 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: -190px;
    left: -400px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star3 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 190px;
    left: 400px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star4 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 50px;
    left: 470px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star5 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 180px;
    left: -485px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star6 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: -100px;
    left: 290px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star7 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: -180px;
    left: 550px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star8 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: -30px;
    left: -510px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;

  
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  .star9 {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: -270px;
    left: -230px;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #dcb951;
    border-left:   .3em solid transparent;
    cursor: default;

  
    /* Controlls the size of the stars. */
    font-size: 24px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #dcb951;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }