a {
    text-decoration: none;
}


/*
a:link {
    color: rgb(255, 255, 255);
}
*/
a:active {
    color: rgb(185, 77, 77);
}

.clickable-logo {
    text-decoration: none;
    color: rgb(164, 27, 16);
}

.clickable-logo:link {
    color: rgb(164, 27, 16);
}

.clickable-logo:visited {
    color: rgb(164, 27, 16);
}

.clickable-logo:active {
    color: rgb(164, 27, 16);
}

html,
body {
    overflow-x: hidden;
    /*horizontal*/
}

/*NAVBAR*/
/*NAVBAR*/
body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

.topnav {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*
    position: fixed;
    top: 0;
    width: 100%;
    */
}

.topnav a {
    float: left;
    display: block;
    color: #2e2e2e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    /*to align dopdown with topnav*/
    padding-top: 30px;
    transition: 500ms;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #2e2e2e;
    padding: 30px 16px;
    background-color: inherit;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    margin: 0;
    transition: 500ms;
    padding-bottom: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(182, 226, 243, 0.829);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 16px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-align: center;
}

.lang {
    color: rgb(93, 187, 213);
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: rgb(121, 199, 221);
}

.dropdown-content a:hover {
    color: rgb(88, 143, 158);
    transition: 500ms;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1080px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.img-logo {
    width: 45px;
    float: left;

}

.logo-text {
    display: inline-block;
    color: rgb(164, 27, 16);
    height: 50px;
    width: 170px;
    margin-left: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    text-align: left;
}

.logo {
    transition: 500ms;
}

.logo a{
    padding-top: 22px;
}

.logo:hover {
    opacity: 0.7;
}

.sub-header {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.dropdown.language {
    float: right;
    background-color: #ffffff;
    margin-bottom: 15px;
}


/*BANNER*/

.top-page {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0px;
}

.intro-banner {
    width: 100%;
    height: 450px;
    display: inline-block;
    top: 0;
    left: 0;
    position: relative;
}

.intro-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(40%);

}

.text {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 75px;
    width: 100%;
}

.subtext {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 25px;
    width: 100%;
}

.img-left img {
    width: 370px;
    height: 300px;
    position: absolute;
    bottom: -160px;
    left: 290px;
    object-fit: cover;
    filter: brightness(100%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
}

.img-right img {
    width: 370px;
    height: 300px;
    position: absolute;
    bottom: -160px;
    right: 290px;
    object-fit: cover;
    filter: brightness(100%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
}

.about {
    display: inline-block;
}

.img-about {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-top: 70px;
    margin-right: 30px;
}

.about-text {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(53, 53, 54);
    text-align: left;
    width: 400px;
}

.header-abt {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: rgb(53, 53, 54);
    margin-top: 300px;
}

.about-note {
    margin-top: 30px;
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(53, 53, 54);
    background-color: rgb(148, 232, 255);
    padding: 10px 10px;
    width: 1240px;
    border-radius: 25px;
}

.image-abt {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 20px;
}


.image-abt1 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.image-abt2 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-bottom: 20px;
}

.image-abt3 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 20px;
}


.image-abt4 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.image-abt5 {
    width: 400px;
    height: 322px;
    object-fit: cover;
    margin-bottom: 20px;
}

.excursion {
    display: inline-block;
}

.img-excursion {
    width: 400px;
    height: 346px;
    object-fit: cover;
    margin-top: 40px;
}

.excursion-text {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(53, 53, 54);
    text-align: left;
    width: 400px;
    margin-right: 30px;
}

.dhcg {
    text-decoration: none;
    color: rgb(111, 194, 219);
}

.dhcg:link {
    color: rgb(111, 194, 219);
}

.dhcg:visited {
    color: rgb(111, 194, 219);
}

.dhcg:active {
    color: rgb(111, 194, 219);
}

.header-exc {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(53, 53, 54);
    margin-top: 35px;
}


.header-age {
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(53, 53, 54);
    margin-top: 40px;
}

/*INVITATION*/

.invitation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5e7e71;
    overflow: hidden;
}

.advent {
    position: relative;
    cursor: pointer;
    margin-top: 60px;
}

.envelope {
    position: relative;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, .3));
    cursor: default;
}

.envelope:before {
    content: "";
    position: absolute;
    width: 254px;
    height: 254px;
    background-color: rgb(228, 208, 188);
    transform: rotate(-45deg);
    border-radius: 0 15px 0 0;
    left: -37px;
    top: -82px;
    cursor: default;
}

.envelope:after {
    content: "";
    position: absolute;
    background-color: rgb(228, 208, 188);
    width: 360px;
    height: 225px;
    left: -90px;
    top: 45px;
    cursor: default;
}

.ornament {
    position: absolute;
    background-color: #ba3c3c;
    display: inline-block;
    height: 300px;
    width: 300px;
    top: -30px;
    left: -60px;
    filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, .3));
    transition: .5s;
    border-radius: 100000px;
    cursor: default;
}


.ornament:before {
    content: "";
    background-color: #c4b281;
    height: 40px;
    width: 100px;
    position: absolute;
    cursor: default;
}

.ornament:after {
    content: "";
    background-color: #c4b281;
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 500px;
    cursor: default;
}

.ornament:before {
    top: -30px;
    left: 100px;
}

.ornament:after {
    left: 114.5px;
    top: -100;
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 190px solid rgb(228, 195, 163);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: 44px;
    left: 80px;
    z-index: 4;
    cursor: default;
}

.front:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 190px solid rgb(228, 195, 163);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: -113px;
    left: -170px;
    cursor: default;
}

.front:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-bottom: 150px solid rgb(228, 208, 188);
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    top: -36px;
    left: -170px;
    cursor: default;
}

.message {
    position: absolute;
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 80px;
    left: -4px;
    transition: .5s;
    font-size: 30px;
    width: 200px;
    cursor: default;
}

.info {
    position: absolute;
    top: 275px;
    color: white;
    font-family: Pacifico;
    text-align: center;
    width: 250px;
    font-size: 20px;
    left: -35px;
    cursor: default;
}


.h-invitation {
    position: absolute;
    top: -320px;
    color: white;
    font-family: Pacifico;
    text-align: center;
    width: 351px;
    font-size: 70px;
    left: -85px;
    cursor: default;
}

.showBtn {}

.infobtn {
    border: none;
    padding: 10px 10px;
    width: 120px;
    border-radius: 70px;
    font-family: Pacifico;
    font-size: 17px;
    background-color: #c4b281;
    color: white;
    position: relative;
    top: 180px;
    left: 30px;
    transition: .5s;
    cursor: pointer;
}

.infobtn:hover {
    background-color: #9c8c5f;
}

.advent:hover .ornament {
    transform: translateY(-120px);
}

.advent:hover .message {
    transform: translateY(-120px);
}

.advent:hover .infobtn {
    transform: translateY(-120px);
    z-index: 5;

}

/*BOWLING INVITATION*/

.invitation2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*
    background-color: #5a375e;
    */
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(90, 55, 94, 1) 0%, rgba(115, 71, 120, 1) 52%, rgba(146, 90, 153, 1) 100%);
    overflow: hidden;
}

.bowling {
    position: relative;
    cursor: pointer;
    margin-top: 60px;
}

.envelope2 {
    position: relative;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, .3));
    cursor: default;
}

.envelope2:before {
    content: "";
    position: absolute;
    width: 254px;
    height: 254px;
    background-color: #db7fc7;
    transform: rotate(-45deg);
    border-radius: 0 15px 0 0;
    left: -37px;
    top: -82px;
    cursor: default;
}

.envelope2:after {
    content: "";
    position: absolute;
    background-color: #d17dbf;
    width: 360px;
    height: 225px;
    left: -90px;
    top: 45px;
    cursor: default;
}

.ball {
    position: absolute;
    background-color: #E9CFE8;
    display: inline-block;
    height: 300px;
    width: 300px;
    top: -30px;
    left: -60px;
    filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, .3));
    transition: .5s;
    border-radius: 100000px;
    cursor: default;
}


.ball:before {
    content: "";
    background-color: #c481ae;
    height: 50px;
    width: 50px;
    border-radius: 500px;
    position: absolute;
    cursor: default;
}

.ball:after {
    content: "";
    background-color: #c481ae;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 500px;
    cursor: default;
}

.point {
    content: "";
    background-color: #c481ae;
    height: 50px;
    width: 50px;
    border-radius: 500px;
    position: absolute;
    cursor: default;
    left: 115px;
    top: 25px;
    transition: .5s;
}

.ball:before {
    top: 75px;
    left: 100px;
}

.ball:after {
    left: 125px;
    top: 20px;
}

.front2 {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 190px solid #ffb7ef;
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: 44px;
    left: 80px;
    z-index: 4;
    cursor: default;
}

.front2:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 190px solid #ffb7ef;
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: -113px;
    left: -170px;
    cursor: default;
}

.front2:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-bottom: 150px solid #ffcdf4;
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    top: -36px;
    left: -170px;
    cursor: default;
}

.message2 {
    position: absolute;
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 80px;
    left: -4px;
    transition: .5s;
    font-size: 30px;
    width: 200px;
    cursor: default;
}

.info2 {
    position: absolute;
    top: 275px;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 300px;
    font-size: 20px;
    left: -59px;
    cursor: default;
}

.spark {
    top: -180px;
    left: 170px;
    position: absolute;
    cursor: default;
}

.spark1 {
    top: 150px;
    left: 700px;
    position: absolute;
    cursor: default;
}

.spark2 {
    top: 300px;
    left: 100px;
    position: absolute;
    cursor: default;
}

.tri-up {
    position: absolute;
    left: -280px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #FFD966;
}

.tri-up::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #FFD966;
    border-bottom: 10px solid transparent;
}

.tri-up::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #FFD966;
    border-bottom: 10px solid transparent;
}

.tri-down {
    position: absolute;
    left: -280px;
    top: 40px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #FFD966;
}


.tri-down::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -40px;
    width: 20px;
    height: 20px;
    background-color: #FFD966;
}

.pin {}

.pin-top {
    position: absolute;
    left: -450px;
    top: 40px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100px;
}

.pin-top::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 30px;
    width: 40px;
    left: 5px;
    top: 40px;
}

.pin-top::after {
    content: "";
    position: absolute;
    border-bottom: 30px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 40px;
    left: -5px;
    top: 60px;
}

.pin-body {
    position: absolute;
    left: -460px;
    top: 97px;
    width: 70px;
    height: 90px;
    background-color: white;
    border-radius: 1000px;
}

.pin-body::before {
    content: "";
    position: absolute;
    left: -460px;
    top: 97px;
    width: 70px;
    height: 90px;
    background-color: white;
    border-radius: 1000px;
}

.pin-body::after {
    content: "";
    position: absolute;
    border-top: 40px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 44px;
    left: 2.6px;
    top: 69px;
}

.deco {
    position: absolute;
    left: -449px;
    top: 171.5px;
    width: 48px;
    height: 47px;
    background-color: white;
    border-radius: 100px;
}

.deco::before {
    content: "";
    position: absolute;
    left: 4px;
    top: -87px;
    width: 40px;
    height: 6px;
    background-color: rgb(255, 0, 0);
}

.deco::after {
    content: "";
    position: absolute;
    left: 3px;
    top: -75px;
    width: 42px;
    height: 6px;
    background-color: rgb(255, 0, 0);
}

.h-invitation2 {
    position: absolute;
    top: -320px;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 550px;
    font-size: 70px;
    left: -185px;
    cursor: default;
}

.test {
    position: absolute;
    left: 400px;
    top: 40px;
    width: 100px;
    height: 200px;
    background-color: white;
    border-radius: 40px;
}

.showBtn2 {}

.infobtn2 {
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    padding: 1px 1px;
    width: 150px;
    border-radius: 70px;
    font-size: 25px;
    background-color: #c4b28100;
    color: #b176a4;
    position: relative;
    top: 150px;
    left: 12px;
    transition: .5s;
    cursor: pointer;
}

.infobtn2:hover {
    color: #a35893;
}

.bowling:hover .ball {
    transform: translateY(-120px);
}

.bowling:hover .message2 {
    transform: translateY(-120px);
}

.bowling:hover .infobtn2 {
    transform: translateY(-120px);
    z-index: 5;
}

.bowling:hover .point {
    transform: translateY(-120px);
    z-index: 5;
}



/*NEW YEAR INVITATION*/
.invitation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d0cca9;
    overflow: hidden;
}

.tet {
    position: relative;
    cursor: pointer;
    margin-top: 100px;
}

.envelope1 {
    position: relative;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, .3));
    cursor: default;
}

.envelope1:before {
    content: "";
    position: absolute;
    width: 254px;
    height: 254px;
    background-color: rgb(236, 228, 219);
    transform: rotate(-45deg);
    border-radius: 0 15px 0 0;
    left: -37px;
    top: -82px;
    cursor: default;
}

.envelope1:after {
    content: "";
    position: absolute;
    background-color: rgb(218, 211, 202);
    width: 360px;
    height: 225px;
    left: -90px;
    top: 45px;
    cursor: default;
}


.square {
    position: absolute;
    background-color: #ddb750;
    display: inline-block;
    height: 250px;
    width: 250px;
    top: -30px;
    left: -35px;
    filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, .3));
    transition: .5s;
    cursor: default;
    transform: rotate(-45deg);
}

.lantern {
    position: absolute;
    height: 140px;
    width: 200px;
    background-color: rgb(224, 42, 42);
    top: -180px;
    left: -455px;
    border-radius: 500px;
    cursor: default;
}

.lantern:after {
    content: "";
    height: 280px;
    width: 5px;
    top: -292px;
    left: 95px;
    position: absolute;
    cursor: default;
    background-color: #bc3535;
}

.lantern:before {
    content: "";
    height: 15px;
    width: 100px;
    top: -12px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
}

.lantern-btm {
    content: "";
    height: 15px;
    width: 100px;
    top: 137px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
}

.de-ny {
    position: absolute;
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 45px;
    left: 3px;
    font-size: 20px;
    width: 200px;
    cursor: default;
}

.lantern1 {
    position: absolute;
    height: 140px;
    width: 200px;
    background-color: rgb(224, 42, 42);
    top: -70px;
    left: 400px;
    border-radius: 500px;
    cursor: default;
}

.lantern-cable {
    height: 391px;
    width: 5px;
    top: -402px;
    left: 95px;
    position: absolute;
    cursor: default;
    background-color: #bc3535;
    cursor: default;
}

.lantern1:before {
    content: "";
    height: 15px;
    width: 100px;
    top: -11px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
    cursor: default;
}

.lantern-btm1 {
    content: "";
    height: 15px;
    width: 100px;
    top: 137px;
    left: 49px;
    position: absolute;
    cursor: default;
    background-color: rgb(184, 171, 125);
    cursor: default;
}

.vn-ny {
    position: absolute;
    /*FONT AND WEIGHT*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    z-index: 2;
    top: 45px;
    left: 3px;
    font-size: 20px;
    width: 200px;
    cursor: default;
    cursor: default;
}

.square:after {
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    cursor: default;
    background-color: #bc3535;
}

.square:after {
    left: 25px;
    top: 25px;
}

.front1 {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 190px solid rgb(236, 228, 219);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: 44px;
    left: 80px;
    z-index: 4;
    cursor: default;
}

.front1:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 190px solid rgb(236, 228, 219);
    border-top: 113px solid transparent;
    border-bottom: 113px solid transparent;
    top: -113px;
    left: -170px;
    cursor: default;
}

.front1:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-bottom: 150px solid rgb(221, 214, 206);
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    top: -36px;
    left: -170px;
    cursor: default;
}

.message1 {
    position: absolute;
    font-family: Agbalumo;
    text-align: center;
    color: white;
    z-index: 2;
    top: 5px;
    left: -10px;
    transition: .5s;
    font-size: 90px;
    width: 200px;
    cursor: default;
}

.h-invitation1 {
    position: absolute;
    top: -300px;
    color: #bc3535;
    font-family: Agbalumo;
    text-align: center;
    width: 500px;
    font-size: 54px;
    left: -150px;
    cursor: default;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #8f2626;
}

.showBtn1 {}

.infobtn1 {
    border: none;
    padding: 10px 10px;
    width: 120px;
    border-radius: 70px;
    font-family: Agbalumo;
    font-size: 18px;
    color: white;
    position: relative;
    top: 110px;
    left: 25px;
    transition: 500ms;
    cursor: pointer;
    text-align: center;
    letter-spacing: 4px;
    transition: 500ms;
}

.infobtn1:hover {
    color: #ddd4bd;
}

.tet:hover .square {
    transform: translateY(-120px) rotate(-45deg);
}

.tet:hover .message1 {
    transform: translateY(-120px);
}

.tet:hover .infobtn1 {
    transform: translateY(-120px);
    z-index: 4;
}







/*
@media screen and (max-width: 1339px) {
    .img-left img {
        width: 370px;
        height: 300px;
        position: absolute;
        bottom: -160px;
        left: 50px;
        object-fit: cover;
        filter: brightness(100%);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
    }
    
    .img-right img {
        width: 370px;
        height: 300px;
        position: absolute;
        bottom: -160px;
        right: 50px;
        object-fit: cover;
        filter: brightness(100%);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
    }
}

*/

@media screen and (max-width: 1080px) {

    .img-left img {
        width: 370px;
        height: 300px;
        position: absolute;
        bottom: -160px;
        left: 50px;
        object-fit: cover;
        filter: brightness(100%);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
        display: none;
    }

    .img-right img {
        width: 370px;
        height: 300px;
        position: absolute;
        bottom: -160px;
        right: 50px;
        object-fit: cover;
        filter: brightness(100%);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.611);
        display: none;
    }

    .text {
        position: absolute;
        text-align: center;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        /*FONT AND WEIGHT*/
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 700;
        font-size: 47px;
        width: 100%;
    }

    .subtext {
        position: absolute;
        text-align: center;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        /*FONT AND WEIGHT*/
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 15px;
        width: 100%;
    }

    .intro-banner img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        filter: brightness(40%);
    }

    .intro-banner {
        width: 100%;
        height: 355px;
        display: inline-block;
        top: 0;
        left: 0;
        position: relative;
    }

    .header-abt {
        /*FONT AND WEIGHT*/
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: rgb(53, 53, 54);
        margin-top: 20px;
    }

    .about-text {
        /*FONT AND WEIGHT*/
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: rgb(53, 53, 54);
        text-align: left;
        width: 300px;
    }

    .about-note {
        margin-top: 30px;
        /*FONT AND WEIGHT*/
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: rgb(53, 53, 54);
        background-color: rgb(148, 232, 255);
        padding: 10px 10px;
        width: 300px;
        border-radius: 25px;
    }

    .image-abt1 {
        width: 400px;
        height: 322px;
        object-fit: cover;
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .excursion-text {
        /*FONT AND WEIGHT*/
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: rgb(53, 53, 54);
        text-align: left;
        width: 300px;
        margin-right: 0px;
    }

    .image-abt4 {
        width: 400px;
        height: 322px;
        object-fit: cover;
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .header-age {
        /*FONT AND WEIGHT*/
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: rgb(53, 53, 54);
        margin-top: 35px;
    }

    .h-invitation1 {
        position: absolute;
        top: -300px;
        color: #bc3535;
        font-family: Agbalumo;
        text-align: center;
        width: 500px;
        font-size: 40px;
        left: -180px;
        cursor: default;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #8f2626;
    }

    .envelope1 {
        position: relative;
        filter: drop-shadow(0 0 25px rgba(0, 0, 0, .3));
        cursor: default;
        left: -20px;
    }

    .front1 {
        position: absolute;
        width: 0;
        height: 0;
        border-right: 190px solid rgb(236, 228, 219);
        border-top: 113px solid transparent;
        border-bottom: 113px solid transparent;
        top: 44px;
        left: 60px;
        z-index: 4;
        cursor: default;
    }

    .square {
        position: absolute;
        background-color: #ddb750;
        display: inline-block;
        height: 250px;
        width: 250px;
        top: -30px;
        left: -55px;
        filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, .3));
        transition: .5s;
        cursor: default;
        transform: rotate(-45deg);
    }

    .message1 {
        position: absolute;
        font-family: Agbalumo;
        text-align: center;
        color: white;
        z-index: 2;
        top: 5px;
        left: -33px;
        transition: .5s;
        font-size: 90px;
        width: 200px;
        cursor: default;
    }

    .infobtn1 {
        border: none;
        padding: 10px 10px;
        width: 120px;
        border-radius: 70px;
        font-family: Agbalumo;
        font-size: 18px;
        color: white;
        position: relative;
        top: 110px;
        left: 2px;
        transition: 500ms;
        cursor: pointer;
        text-align: center;
        letter-spacing: 4px;
        transition: 500ms;
    }


    .info {
        position: absolute;
        top: 275px;
        color: white;
        font-family: Pacifico;
        text-align: center;
        width: 250px;
        font-size: 20px;
        left: -55px;
        cursor: default;
    }
}

.notice-nav {
    color: rgb(119, 201, 231);
}

.tet-text {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: rgb(53, 53, 54);
    margin-top: 70px;
}

.map1 {
    margin-top: 70px;
    margin-bottom: 20px;
}

.map2 {
    margin-bottom: 50px;
}

.tet-text1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    color: rgb(53, 53, 54);
    margin-top: 70px;
    margin-bottom: 40px;
}

.tet-text2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    color: rgb(53, 53, 54);
    margin-top: 20px;
    margin-bottom: 20px;
}

.trainstation {
    margin-bottom: 50px;
}

.invitation-file {
    width: 670px;
    margin-bottom: 20px;
}

.parking {
    width: 1000px;
    margin-bottom: 100px;
}


/*invitation page*/

@media screen and (max-width: 1080px) {
    .tet-text {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        color: #353536;
        margin-top: 50px;
        
    }

    .map1 {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 333px;
    }

    .map2 {
        margin-bottom: 12px;
        width: 333px;
    }

    .trainstation {
        width: 333px;
    }

    .tet-text1 {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        color: rgb(53, 53, 54);
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .invitation-file {
        width: 333px;
        margin-bottom: 20px;
    }

    .tet-text2 {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        color: rgb(53, 53, 54);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .parking {
        width: 350px;
        margin-bottom: 50px;
    }
    
}