a {
  text-decoration: none;
}

a {
  text-decoration: none;
}


/*
a:link {
  color: rgb(255, 255, 255);
}
*/
a:active {
  color: rgb(185, 77, 77);
}

.clickable-logo {
  text-decoration: none;
  color: rgb(164, 27, 16);
}

.clickable-logo:link {
  color: rgb(164, 27, 16);
}

.clickable-logo:visited {
  color: rgb(164, 27, 16);
}

.clickable-logo:active {
  color: rgb(164, 27, 16);
}

/*NAVBAR*/
body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /*
  position: fixed;
  top: 0;
  width: 100%;
  */
}

.topnav a {
  float: left;
  display: block;
  color: #2e2e2e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  /*to align dopdown with topnav*/
  padding-top: 30px;
  transition: 500ms;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #2e2e2e;
  padding: 30px 16px;
  background-color: inherit;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  margin: 0;
  transition: 500ms;
  padding-bottom: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(182, 226, 243, 0.829);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

.lang {
  color: rgb(93, 187, 213);
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  color: rgb(121, 199, 221);
}

.dropdown-content a:hover {
  color: rgb(88, 143, 158);
  transition: 500ms;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1080px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
      display: none;
  }

  .topnav a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 1080px) {
  .topnav.responsive {
      position: relative;
  }

  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }

  .topnav.responsive .dropdown {
      float: none;
  }

  .topnav.responsive .dropdown-content {
      position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
  }
}

.img-logo {
  width: 45px;
  float: left;

}

.logo-text {
  display: inline-block;
  color: rgb(164, 27, 16);
  height: 50px;
  width: 170px;
  margin-left: 10px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
  text-align: left;
}

.logo {
  transition: 500ms;
}

.logo a{
  padding-top: 22px;
}

.logo:hover {
  opacity: 0.7;
}

.sub-header {
  /*FONT AND WEIGHT*/
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.dropdown.language {
  float: right;
  background-color: #ffffff;
  margin-bottom: 15px;
}



/*
.icon {
  position: fixed;
  bottom: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.fb {
  font-size: 30px;
  border: none;
  padding-right: 10px;
  color: rgb(24, 119, 242);
  background-color: rgba(255, 255, 255, 0);
}

*/
@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}

.fade-in {
  font-family: Be Vietnam Pro ExtraBold;
  font-size: 50px;
  animation: fadeIn 7s;
  text-align: center;
  margin-top: 25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.typewriter {
  text-align: center;
}

.bible-verse {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  /*letter-spacing: 7px;*/
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: fadeIn 5s;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }

}

@keyframes typing {
  from {
    width: 0;
  }
}

.cross {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72px;
  height: 136px;
  animation: fadeIn 7s;
}

.container-header-cd {
  margin-top: 200px;
  display: inline-block;
}


/*CONG DONG*/

.container-cd {
  display: inline-block;
}

.container-1-cd {
  display: inline-block;
}


.header-cd {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: rgb(53, 53, 54);
  text-align: left;
  margin-top: 0;
  margin-bottom: 50px;
}

.quote-cd {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: rgb(53, 53, 54);
  text-align: left;
  width: 430px;
}

.group-grf {
  margin-left: 70px;
  margin-bottom: 42px;
}

.menu-cd {}

.box-cd {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: 1s;
}

.box-cd a {}

.box-cd:hover {
  width: 400px;
  height: 400px;
}

.box-cd-2 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: 1s;
}

.box-cd-2:hover {
  width: 400px;
  height: 400px;
}

.box-cd3 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: 1s;
}

.box-cd3 a {}

.box-cd3:hover {
  width: 400px;
  height: 400px;
}

.box-cd-4 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  object-fit: cover;
  transition: 1s;
}

.box-cd-4:hover {
  width: 400px;
  height: 400px;
}


.space-cong {
  width: 100px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
}


.lmtu {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: rgb(53, 53, 54);
  margin-top: 15px;
}

.ccd {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: rgb(53, 53, 54);
  margin-top: 15px;
  
}

.cq {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: rgb(53, 53, 54);
  margin-top: 15px;
}

.foot-cd {
  width: 100%;
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.space-bottom {
  margin-top: 60px;
}

.about-note {
  margin-top: 170px;
  /*FONT AND WEIGHT*/
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(53, 53, 54);
  background-color: rgb(148, 232, 255);
  padding: 10px 10px;
  width: 200px;
  border-radius: 25px;
}

/*LIEN HE*/

.container-contact {}

.contact-cha {
  width: 300px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin-top: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;

}

.contact-cha-img {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 160px;
  display: inline-block;
  margin-top: 0;
}

.contact-us {
  width: 300px;
  height: 500px;
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
  margin-top: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.contact-us-img {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 160px;
  display: inline-block;
  margin-top: 0;
}

.contact-lmtu {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: rgb(53, 53, 54);
  margin-top: 15px;
}

.sub-lmtu {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: rgb(17, 189, 229);
}

.contact-mce {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: rgb(53, 53, 54);
  margin-top: 15px;
}

.sub-mce {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: rgb(17, 189, 229);
}

.socials {
  margin-top: 40px;
}

.phone {
  border: none;
  background-color: rgb(134, 225, 246);
  padding: 10px 12px;
  border-radius: 0px;
  font-size: 23px;
  border-radius: 50px;
  cursor: pointer;
}

.mail {
  border: none;
  background-color: rgb(134, 225, 246);
  padding: 10px 12px;
  border-radius: 0px;
  font-size: 23px;
  border-radius: 50px;
  cursor: pointer;
}

.facebook {
  border: none;
  background-color: rgb(134, 225, 246);
  padding: 10px 16px;
  border-radius: 0px;
  font-size: 23px;
  border-radius: 50px;
  cursor: pointer;
}

.mail-us {
  border: none;
  background-color: rgb(134, 225, 246);
  padding: 10px 12px;
  border-radius: 0px;
  font-size: 23px;
  border-radius: 50px;
  cursor: pointer;
}

.space {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 10px;
  font-size: 23px;
}

.facebook-us {
  border: none;
  background-color: rgb(134, 225, 246);
  padding: 10px 16px;
  border-radius: 0px;
  font-size: 23px;
  border-radius: 50px;
  cursor: pointer;
}

.fb-container {
  display: inline-block;
  margin-left: 0px;
}

.fb-container a {
  text-decoration: none;
  cursor: pointer;
}

.mail-container {
  display: inline-block;
  margin-left: 0px;
}

.mail-container a {
  text-decoration: none;
  cursor: pointer;
}

.call-container {
  display: inline-block;
  margin-left: 0px;
}

.call-container a {
  text-decoration: none;
  cursor: pointer;
}

.container-form {
  width: 500px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

form {
  margin-bottom: 35px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 20px;
}

.label {
  margin-bottom: 7px;
}

.header-form-cha {
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
}

.header-form-us {
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #777;
}

.form-fname {
  display: inline-block;
}

.form-lname {
  display: inline-block;
}

#firstName {
  display: block;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

#lastName {
  display: block;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

#yourMail {
  display: block;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

#subject {
  display: block;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

#message {
  display: block;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.input-field-name {
  width: 187px;
  height: 40px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #777;
}

.textarea-field {
  height: 20px;
  padding-top: 10px;
}

label {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.send {
  background-color: rgb(134, 225, 246);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

/*HINH*/